<h5>Cat time!</h5>

<p>Your chosen cat name is... <%= @cat %>.</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Six_weeks_old_cat_%28aka%29.jpg" alt="Cat" style="width:450px;height:300px;" >




