<!DOCTYPE html>
<html>
<head>
  <title>Catulator</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/cat">Cat Time</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>

